NOVANET_ENGINE=/usr/local/bin/novanet-engine
NOVANET_MODE=socks
NOVANET_LISTEN=0.0.0.0:9000
NOVANET_SOCKS=127.0.0.1:1080
NOVANET_PEER=
NOVANET_PASSWORD=
NOVANET_VK_HASHES=
NOVANET_WORKERS=9
NOVANET_TURN_TCP=0
NOVANET_HEALTH_LISTEN=127.0.0.1:8787
NOVANET_WG_ENABLE=1
NOVANET_WG_INTERFACE=wg0
NOVANET_WG_ADDRESS=10.77.0.1/24
NOVANET_WG_PORT=51820
NOVANET_WG_MTU=1420
NOVANET_WG_PUBLIC_KEY=
NOVANET_WG_PRIVATE_KEY=
NOVANET_AUTO_RESTART=1
